<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB - {% block title %}Bienvenue!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap_flatly.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'shared/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'shared/footer.html.twig' %}

        <script src="/JS/jquery.min.js"></script>
        <script src="/JS/popper.min.js"></script>
        <script src="/JS/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body> 
</html>
